apiVersion: apps/v1
kind: Deployment
metadata:
  name: hirehub-api
  labels:
    app: hirehub-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hirehub-api
  template:
    metadata:
      labels:
        app: hirehub-api
    spec:
      containers:
        - name: hirehub-api
          image: harnesstraining/hirehub:v1
          ports:
            - containerPort: 8080
          env:
            - name: ASPNETCORE_ENVIRONMENT
              value: "Production"
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 20
